/*――[ Thumbnail ]―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――*/
:root {
	/* thumbnail dimensions */
	--thumb-width:  90px;
	--thumb-height: calc(var(--thumb-width) * 1.5);

	--thumb-width-sm: 55px;
	--thumb-height-sm: calc(var(--thumb-width-sm) * 1.5);

	/* translation variables from tailwind */
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
}

.thumbnail {
	width:  var(--thumb-width-sm);
	height: var(--thumb-height-sm);
	margin: 10px;
	flex: 0 0 var(--thumb-width-sm);
}

.thumbnail img {
	border-radius: 10px;
}


/*――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――*/
/* Miscellaneous                                                              */
/*――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――*/

.bg-dim {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 8px;
}

